<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<header>
  <div class="container">
    <div
      class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1"
    >
      <!-- logo -->
      <div id="logo">
        <h1>
          <a href="index.html"><span class="text-bl">L</span>ucknow</a>
        </h1>
      </div>
      <!-- //logo -->
      <!-- nav -->
      <div class="nav_w3ls ml-lg-5">
        <nav>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop" />
          <ul class="menu">
            <li *ngIf="!loggedIn"><a href="index.html">Home</a></li>
          </ul>
        </nav>
      </div>
      <!-- //nav -->
    </div>
  </div>
</header>
<!-- //header -->

<!-- inner banner -->
<div class="inner-banner-w3ls py-5" id="home">
  <div class="container py-xl-5 py-lg-3">
    <!-- login  -->
    <div class="modal-body my-5 pt-4">
      <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">
        Login Now
      </h3>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label class="col-form-label">Username</label>
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username"
            name="Name"
            required=""
          />
        </div>
        <div *ngFor="let validation of validationMsg.username">
          <p
            *ngIf="
              loginForm.get('username').hasError(validation.type) &&
              (loginForm.get('username').dirty ||
                loginForm.get('username').touched)
            "
            class="errorMsg w-100"
          >
            {{ validation.message }}
          </p>
        </div>
        <div class="form-group">
          <label class="col-form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            name="Password"
            required=""
          />
        </div>
        <div *ngFor="let validation of validationMsg.password">
          <p
            *ngIf="
              loginForm.get('password').hasError(validation.type) &&
              (loginForm.get('password').dirty ||
                loginForm.get('password').touched)
            "
            class="errorMsg w-100"
          >
            {{ validation.message }}
          </p>
        </div>
        <button
          (click)="loginSuccess()"
          class="btn button-style-w3"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
    <!-- //login -->
  </div>
</div>
<!-- //inner banner -->

<!-- footer -->
<footer class="py-5">
  <div class="container py-xl-4 py-lg-3">
    <div class="row footer-grids">
      <div class="col-lg-2 col-6 footer-grid footer-contact mt-lg-0 mt-4">
        <h3 class="mb-sm-4 mb-3 pb-lg-3">Contact Us</h3>
        <ul class="list-unstyled">
          <li>
            +01(24) 8543 8088
          </li>
          <li>
            <a href="mailto:info@example.com">info@example.com</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 footer-grid mt-lg-0 mt-4">
        <div class="footer-logo">
          <h2 class="text-lg-center text-center">
            <a class="logo text-wh font-weight-bold" href="index.html"
              ><span class="text-bl">L</span>ucknow</a
            >
          </h2>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copyright-w3ls py-4">
  <div class="container">
    <div class="row">
      <!-- copyright -->
      <p
        class="col-lg-8 copy-right-grids text-wh text-lg-left text-center mt-lg-2"
      >
        © 2019 Land. All Rights Reserved | Design by
        <a href="https://w3layouts.com/" target="_blank">W3layouts</a>
      </p>
      <!-- //copyright -->
      <!-- social icons -->
      <div
        class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3"
      >
        <ul>
          <li>
            <a href="#" class="rounded-circle">
              <span class="fa fa-facebook-f"></span>
            </a>
          </li>
          <li class="px-2">
            <a href="#" class="rounded-circle">
              <span class="fa fa-google-plus"></span>
            </a>
          </li>
          <li>
            <a href="#" class="rounded-circle">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li class="pl-2">
            <a href="#" class="rounded-circle">
              <span class="fa fa-dribbble"></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- //social icons -->
    </div>
  </div>
</div>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
  <span class="fa fa-angle-double-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->
